<ul>
    <li class="in-view">

    </li>
    <li class="in-view">
        <div>
            <time>Q1 2023 </time>
            <p>
                GENERAL PUBLIC MINT
            </p>
            <hr>
            Launch of the Yakka - යක්ඛ CNFT collection with 6000 2D hand drawn masks with unique combinations
            <hr>
            <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q2 2023</time>
            <p>Evaluation and snapshot phase for the airdrops
            </p>
            <hr>
            Raffle draw announcement for the Exclusive Elite Holder Masks
            <hr>
            Airdrop campaign of unique and rare animated Live 666
            <hr>
            Yakka - යක්ඛ masks to qualifying wallets
            <hr>
            More announcements to be made <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q3 2023</time>
            <p>Special announcements on upcoming projects with interoperability with Yakka - යක්ඛ CNFT
            </p>
            <hr>
            Announcement on the development of the merchandising store
            <hr>
            Giveaways for partner projects and communities announcement
            <hr>
            Stay tuned for more updates <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q4 2023</time>
            <p>Launch of the community development donations project
                phase 01 after completion of 50% of sales volume in the collection
            </p>
            <hr>
            Promotional and awareness campaign to enhance exposure on
            how Cardano supports sustainable development through creative
            blockchain products
            <hr>
            Phase 01 - Merchandise store beta version launch announcement
            and testing <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q1 2024</time>
            <p> Announcement on passive Rewards generator model for Yakka - යක්ඛ
                CNFT Holders after completion of 75% of completion in sales volumes
            </p>
            <hr>
            Phase 02 - Merchandise store public launch and redeemable
            rewards system to go live
            <hr>
            Auctioning of 03 animated 3D Live Yakka Masks from the collection
            among the community
            <hr>
            Stay tuned for more updates… <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q2 2024</time>
            Stay tuned for more exciting updates <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q3 2024</time>
            <p>Community development Phase 02
            </p>
            <hr>
            Donations for necessary equipment and financial assistance to enhance
            efficiency of product developments.
            <hr>
            Support services for training and guidance for product development,
            branding &amp; marketing
            <hr>
            Evaluations of Phase 01 implementations. <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q4 2024</time>
            <p> Passive Rewards generation from projects / token / airdrops
                and rewards for long term hodlers
            </p>
            <hr>
            Yakka - යක්ඛ CNFT hodlers exclusive club with added benefits
            to be announced.
            <hr>
            Exclusive Elite Hodler wallet snapshot phase<p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q1 2025</time>
            <p>Stay tuned for more exciting updates</p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q2 2025</time>
            <p> Yakka - යක්ඛ CNFT tokenization project development
                announcement ($Yakka)
            </p>
            <hr>
            Advanced interoperable staking &amp; rewards program announcement <p></p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Q3 2025</time>
            <p> Exclusive Elite hodler fully sponsored 1 week vacation stay in the
                island nation of Sri Lanka along with host of other benefits, excursions
                and rewards to be announced. </p>
        </div>
    </li>
    <li class="in-view">
        <div>
            <time>Stay tuned !</time>
            <p> More to be announced ! Stay tuned ! </p>
        </div>
    </li>