@font-face {
  font-family: "oldwestern";
  src: url("./fonts/Go_2_Old_Western.eot");
  src: url("./fonts/Go_2_Old_Western.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Go_2_Old_Western.woff2") format("woff2"),
    url("./fonts/Go_2_Old_Western.woff") format("woff"),
    url("./fonts/Go_2_Old_Western.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
